<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>AL-IRSHAAD SCHOOL</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- fevicon -->
    <link rel="icon" href="~/mind/images/fevicon.png" type="image/gif" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/mind/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/mind/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="/mind/css/responsive.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="/mind/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="~/mind/images/loading.jpg" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header-top">
            <div class="header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-3 col logo_section">
                            <div class="full">
                                <div class="center-desk">
                                    <div class="logo">
                                        <a href="~/mind/index.html"><img src="~/mind/images/logo.jpg" alt="#" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-8 col-md-8 col-sm-9">
                            <div class="header_information">
                                <div class="menu-area">
                                    <div class="limit-box">
                                        <nav class="main-menu ">
                                            <ul class="menu-area-main">
                                                <li> <a href="#courses">My Courses </a> </li>
                                                <li> <a href="#about">About</a> </li>
                                                <li> <a href="#learn">My Profile</a> </li>
                                                <li> <a href="#important">Information </a> </li>
                                                <li> <a href="#contact">Contact</a> </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="mean-last">
                                    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-dark">login/sing up</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end header inner -->
            <!-- end header -->
            <section class="slider_section">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">

                            <div class="container-fluid padding_dd">
                                <div class="carousel-caption">
                                    <div class="row">
                                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                                            <div class="text-bg">
                                                <h1>AL-IRSHAAD PRIMARY SCHOOL BOYS</h1>
                                                <p>HARGEISA SOMALILAND</p>
                                                <a href="#">Read more</a> <a href="#">get a qoute</a>
                                            </div>
                                        </div>
                                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                                            <div class="images_box">
                                                <figure><img src="~/mind/images/img2.jpg"></figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">

                            <div class="container-fluid padding_dd">
                                <div class="carousel-caption">

                                    <div class="row">
                                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                                            <div class="text-bg">
                                                <h1>AL-IRSHAAD PRIMARY SCHOOL BOYS</h1>
                                                <p>HARGEISA SOMALILAND </p>
                                                <a href="#">Read more</a><a href="#">get a qoute</a>
                                            </div>
                                        </div>

                                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                                            <div class="images_box">
                                                <figure><img src="~/mind/images/img2.jpg"></figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="carousel-item">

                            <div class="container-fluid padding_dd">
                                <div class="carousel-caption ">
                                    <div class="row">
                                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                                            <div class="text-bg">
                                                <h1>AL-IRSHAAD PRIMARY SCHOOL BOYS</h1>
                                                <p>HARGEISA SOMALILAND</p>
                                                <a href="#">Read more</a> <a href="#">get a qoute</a>
                                            </div>
                                        </div>
                                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                                            <div class="images_box">
                                                <figure><img src="~/mind/images/img2.jpg"></figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        </div>

        </section>
        </div>
    </header>



    <!-- about  -->
    <div id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="about-box">
                        <h2>About <strong class="yellow"></strong></h2>
                        <p>
                            First of all, for this section or unit as we narrated the Background for AL Irshaad
                            Primary school, the history of learning the quality of education needs of technology
                            levels of staff knowledge
                            They're purposed how they applied daily tasks in the system for management system in
                            modern technology.
                            In a previous or before technology the challenges they meeting
                            The Al-Irshaad Primary is school was founded in 1994 the beginning of the school has
                            met many problems in the environment and financial so, first, create 2 persons in
                            Somalilanders
                            Their names is abdullah Askar and sheik Dahir They check and analyzed the problem
                            of
                        </p>
                        <a href="Javascript:void(0)">Read more</a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="about-box">
                        <figure><img src="~/mind/images/about.jpg" alt="#" /></figure>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- end abouts -->
    <!-- our -->
    <div id="important" class="important">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Some <strong class="yellow">important facts</strong></h2>
                        <span>

                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="important_bg">
            <div class="container">
                <div class="row">

                    <div class="col col-xs-12">
                        <div class="important_box">
                            <h3>200+</h3>
                            <span>Teachers</span>
                        </div>
                    </div>
                    <div class="col col-xs-12">
                        <div class="important_box">
                            <h3>10+</h3>
                            <span>Schools</span>
                        </div>
                    </div>
                    <div class="col col-xs-12">
                        <div class="important_box">
                            <h3>20+</h3>
                            <span>Courses</span>
                        </div>
                    </div>
                    <div class="col col-xs-12">
                        <div class="important_box">
                            <h3>200+</h3>
                            <span>Members</span>
                        </div>
                    </div>
                    <div class="col col-xs-12">
                        <div class="important_box">
                            <h3>3+</h3>
                            <span>countries</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- end our -->
    <!-- Courses -->
    <div id="courses" class="Courses">
        <div class="container-fluid padding_left3">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="box_bg">
                        <div class="box_bg_img">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <div class="box_my">
                                        <figure><img src="~/mind/images/my1.jpg"></figure>
                                        <div class="overlay">
                                            <h3>MATHMATHICIS</h3>
                                            <p>It is a long established fact that a reader will be distracted by the readable content o</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <div class="box_my">
                                        <figure><img src="~/mind/images/my2.jpg"></figure>
                                        <div class="overlay">
                                            <h3>SOCIAL SCIENCE</h3>
                                            <p>It is a long established fact that a reader will be distracted by the readable content o</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <div class="box_my">
                                        <figure><img src="~/mind/images/my3.jpg"></figure>
                                        <div class="overlay">
                                            <h3>SCIENCE</h3>
                                            <p>It is a long established fact that a reader will be distracted by the readable content o</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <div class="box_my">
                                        <figure><img src="/mind/images/my4.jpg"></figure>
                                        <div class="overlay">
                                            <h3>Teaching Science</h3>
                                            <p>It is a long established fact that a reader will be distracted by the readable content o</p>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 border_right">
                    <div class="box_text">
                        <div class="titlepage">
                            <h2>My <strong class="yellow"> Courses</strong></h2>
                        </div>
                        <p> SOMALI  QURAN ENGLISH TARBIYA ARABIC MATHS SOCIAL SCIENCE </p>
                        <a href="Javascript:void(0)">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end Courses -->
    <!-- learn -->



    <div id="learn" class="learn">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Background <strong class="yellow">of school AL-irshaad</strong></h2>
                        <span>
                            The Al-Irshaad Primary is school was founded in 1994 the beginning of the school
                            has met many problems in the environment and financial so, s

                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="learn_box">
                        <figure><img src="~/mind/images/img.jpg" alt="img" /></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MAKE -->
    <div class="make">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Make Your <strong class="white_colo">Courses Standent</strong></h2>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                    <div class="make_text">
                        <p>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                        </p>
                        <a href="Javascript:void(0)">Strat now</a>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                    <div class="make_img">
                        <figure><img src="~/mind/images/make_img.jpg"></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end MAKE -->
    <!-- end learn -->
    <!-- contact -->
    <div id="contact" class="contact">
        <div class="container-fluid padding_left2">
            <div class="white_color">
                <div class="row">

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div id="map">
                        </div>

                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <form class="contact_bg">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="titlepage">
                                        <h2>Contact <strong class="yellow">us</strong></h2>
                                    </div>
                                    <div class="col-md-12">
                                        <input class="contactus" placeholder="Your Name" type="text" name="Your Name">
                                    </div>
                                    <div class="col-md-12">
                                        <input class="contactus" placeholder="Your Email" type="text" name="Your Email">
                                    </div>
                                    <div class="col-md-12">
                                        <input class="contactus" placeholder="Your Phone" type="text" name="Your Phone">
                                    </div>
                                    <div class="col-md-12">
                                        <textarea class="textarea" placeholder="Message" type="text" name="Message"></textarea>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <button class="send">Send</button>
                                    </div>
                                </div>
                        </form>


                    </div>
                </div>

            </div>
        </div>

        <!-- end contact -->
        <!--  footer -->
        <footr>
            <div class="footer ">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12">
                            <form class="news">
                                <input class="newslatter" placeholder="Email" type="text" name=" Email">
                                <button class="submit">Subscribe</button>
                            </form>
                        </div>
                        <div class="col-md-12">
                            <h2>AL-IRSHAD School</h2>
                            <span> Al -irshaad  primary school is the most popular school in somaliland hargeysa   </span>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 ">
                                    <div class="address">
                                        <h3>Contact us </h3>
                                        <ul class="loca">
                                            <li>
                                                <a href="#"><img src="~/mind/icon/loc.png" alt="#" /></a>Hargeisa
                                                <br>Somaliland
                                            </li>
                                            <li>
                                                <a href="#"><img src="~/mind/icon/email.png" alt="#" /></a>irshadbranch1@hotmail.com
                                            </li>
                                            <li>
                                                <a href="#"><img src="~/mind/icon/call.png" alt="#" /></a>+252 63 4418277
                                            </li>
                                        </ul>
                                        <ul class="social_link">
                                            <li><a href="#"><img src="~/mind/icon/fb.png"></a></li>
                                            <li><a href="#"><img src="~/mind/icon/tw.png"></a></li>
                                            <li><a href="#"><img src="~/mind/icon/lin(2).png"></a></li>
                                            <li><a href="#"><img src="~/mind/icon/instagram.png"></a></li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="address">
                                        <h3>Courses</h3>
                                        <ul class="Menu_footer">
                                            <li class="active"> <a href="#">Courses</a> </li>
                                            <li><a href="#">QURAN </a> </li>
                                            <li><a href="#">ENGLISH</a> </li>
                                            <li><a href="#">SOCIAL</a> </li>
                                            <li><a href="#">SOMAALI</a> </li>
                                            <li><a href="#">TARBIYA</a> </li>
                                            <li><a href="#">ARABIC </a> </li>
                                            <li><a href="#">MATHS</a> </li>
                                            <li><a href="#">SCIENCE</a> </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="address">
                                        <h3>BRANCHES</h3>
                                        <ul class="Links_footer">
                                            <li class="active"><a href="#">Compuses </a> </li>
                                            <li><a href="#">Hargeisa ibrahim koodbur</a> </li>
                                            <li><a href="#"> Hargeisa ibrahim koodbur </a> </li>
                                            <li><a href="#"> Hargeisa Calamada </a> </li>
                                            <li><a href="#">Gabiley</a> </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6 ">
                                    <div class="address">
                                        <a href="~/mind/index.html"> <img src="~/mind/images/logo 1.jpg" alt="logo"></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="copyright">
                    <div class="container">
                        <p>Copyright © AYUB KABADHE  <a href="https://html.design/">AL-IRSHAAD SCHOOL </a></p>

                    </div>
                </div>
            </div>
            @RenderBody()
        </footr>
        <!-- end footer -->
        <!-- Javascript files-->
        <script src="~/mind/js/jquery.min.js"></script>
        <script src="~/mind/js/popper.min.js"></script>
        <script src="~/mind/js/bootstrap.bundle.min.js"></script>
        <script src="~/mind/js/jquery-3.0.0.min.js"></script>
        <script src="~/mind/js/plugin.js"></script>
        <!-- sidebar -->
        <script src="~/mind/js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="~/mind/js/custom.js"></script>
        <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>






</body>

</html>
