@model IEnumerable<AL_IRSHAAD_MAGAMENT_SYSTEM.Models.Term>

@{
    ViewData["Title"] = "Index";
    Layout = "Admin_Layout";
}
}

<h1>TERms</h1>

<p>
    <a asp-action="Create"class="btn btn-outline-dark">Create New</a>
</p>
<table class="table table-success table-hover table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TermName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TermName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"class="btn btn-outline-primary">Edit</a> |
                    
                    <a asp-action="Delete" asp-route-id="@item.Id"class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
